{% extends 'base.html' %} 
{% block content %} 

<a class="btn btn-secondary btn-sm" href="{% url 'choice-index' %}">Cancel</a>

<form action="{% url 'choice-create' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}