{% extends 'base.html' %} 
{% block content %} 

Choice Detail

<form>
    <div class="form-group">
        <label for="question">Question</label>
        <input type="text" class="form-control" id="question" disabled value="{{ choice.question.questions_text }}">
    </div>
    <div class="form-group">
        <label for="choice_text">Choice Text</label>
        <input type="text" class="form-control" id="choice_text" disabled value="{{ choice.choice_text }}">
    </div>
    <div class="form-group">
        <label for="votes">Votes</label>
        <input type="number" class="form-control" id="votes" disabled value="{{ choice.votes }}">
    </div>
    <a class="btn btn-primary btn-sm" href="{% url 'choice-update' choice.pk %}">Update</a>
    <a class="btn btn-danger btn-sm" href="{% url 'choice-delete' choice.pk %}">Delete</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'choice-index' %}">Back to List</a>
</form>

{% endblock %}