{% extends 'base.html' %} 
{% block content %} 



<table class="table">
    <tdead>
        <tr>
            <th scope="col">PK</th>
            <th scope="col">Question</th>
            <th scope="col">Choice Text</th>
            <th scope="col">Votes</th>
        </tr>
    </tdead>
    <tbody>
        {% for item in choices %}
        
            <tr>
                <th>
                    <a href="{% url 'choice-detail' item.pk %}">{{ item.pk }}</a>
                </th>
                <td>
                    {{ item.question.questions_text }}
                </td>
                <td>
                    {{ item.choice_text }}
                </td>
                <td>
                    {{ item.votes }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-success btn-sm" href="{% url 'choice-create' %}">Create Choice</a>

{% endblock %}